<div class="main-container">
  <div class="upper-div">
  
    <div class="input-group mb-3">
      <button class="btn btn-primary" type="button">LOB</button>
      <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" (change)="onSelect($event)">
        <option selected>Choose...</option>
        <option value={{lob.lobId}} *ngFor="let lob of lobs">{{lob.lob}}</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <button class="btn btn-primary" type="button">ITRC</button>
      <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option selected>Choose...</option>
        <option value={{itrc.itrcId}} *ngFor="let itrc of itrcs">{{itrc.itrcName}}</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <button class="btn btn-primary" type="button">Application</button>
      <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option selected>Choose...</option>
        <option value={{app.applicationId}} *ngFor="let app of applications">{{app.applicationName}}</option>
      </select>
    </div>

  </div>
  <div class="lower-div card">
    <div class="list-item card" *ngFor="let question of questions">
      <h4>{{ question.question }}</h4>
      <div class="dropdown open">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="triggerId"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="fetchAnswers(question.questionId)"
        >
          Answer
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
          <button class="dropdown-item" *ngFor="let answer of answers">{{answer.mark}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="submit-button-div"></div>
</div>

<router-outlet></router-outlet>
